# Arquivo .gitignore

# Arquivos de Cache e Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de Dados
*.sqlite3
db.sqlite3

# Ambiente Virtual
venv/
.venv/
env/
ENV/

# Arquivos de Configuração Secretos
*.env
.env.*

# Arquivos de Mídia (Uploads)
/media/

# Arquivos de IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
*.swp