<!-- clientes/templates/clientes/criar_revenda.html -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li> endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="username">Nome de Usuário:</label>
    <input type="text" id="username" name="username" value="{{ username }}" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ email }}" required>

    <label for="senha">Senha:</label> <input type="password" id="senha" name="senha" required>

    <label for="valor_pago">Valor Pago:</label>
    <input type="number" id="valor_pago" name="valor_pago" value="{{ valor_pago }}" step="0.01" required>

    <label for="data_vencimento">Data de Vencimento:</label>
    <input type="date" id="data_vencimento" name="data_vencimento" value="{{ data_vencimento }}">

    <button type="submit">Criar Revenda</button>
</form>
