<!-- detalhes_cliente.html -->
{% extends 'base.html' %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}
<div class="container">
    <h1>Detalhes de {{ cliente.nome }}</h1>
    <table class="detalhes-table">
        <tr><td>Usuário:</td><td>{{ cliente.username }}</td></tr>
        <tr><td>Senha:</td><td>{{ cliente.senha_leitura }}</td></tr>
        <tr><td>WhatsApp:</td><td>{{ cliente.whatsapp }}</td></tr>
        <tr><td>Valor do Serviço:</td><td>{{ cliente.valor_servico }}</td></tr>
        <tr><td>Valor a Pagar:</td><td>{{ cliente.valor_total_a_pagar }}</td></tr>
        <tr><td>Observação:</td><td>{{ cliente.observacao }}</td></tr>
        <tr><td>Tags:</td>
            <td>
                {% for tag in cliente.tags.all %}
                    {{ tag.nome }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Nenhuma tag
                {% endfor %}
            </td>
        </tr>
    </table>
    <a href="{% url 'listar_clientes' %}" class="btn-voltar">Voltar para a lista de clientes</a>
</div>
{% endblock %}
