{% extends 'base.html' %}

{% block title %}Editar Mensagem{% endblock %}

{% block content %}
<div class="container">
    <h2>Editar Mensagem</h2>
    <form method="post" action="{% url 'editar_mensagem' mensagem.id %}">
        {% csrf_token %}
        
        <label for="conteudo">Conteúdo da Mensagem:</label>
        <textarea id="conteudo" name="conteudo" rows="5">{{ mensagem.conteudo }}</textarea>
        
        <button type="submit">Salvar Alterações</button>
        <a href="{% url 'enviar_mensagem' %}">Cancelar</a>
    </form>
</div>
{% endblock %}
